class-map match-any LAN-MARK-EF
 match access-group name MARK-DSCP-ef 
class-map match-any LAN-MARK-AF4
 match access-group name MARK-DSCP-af4x
class-map match-any LAN-MARK-CS3
 match access-group name MARK-DSCP-af3x
class-map match-any LAN-MARK-AF2
 match access-group name MARK-DSCP-af2x
class-map match-any LAN-MARK-AF1
 match access-group name MARK-DSCP-af1x
