[Unit]
Description=Samplicator Syslog [514]
After=network.target

[Service]
ExecStart=/usr/local/bin/samplicate -d 0 -p 514 -S -c "/usr/local/etc/samplicator-syslog"
Restart=always
RestartSec=300
StartLimitInterval=1000
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
