! Line passwords
! Variables
! {{password.line}} = Password to apply to the console and vty lines
!
line con 0
 password {{password.line}}
line vty 0 4
  password {{password.line}}
line vty 5 15
 password {{password.line}}