! Secrets and usernames
! Variables
! {{ passwords.admin_secret }} = secret password for the admin account
! {{ passwords.admin_secret }} = enable password of last resort
! 
username admin secret {{ passwords.admin_secret }}
enable secret {{ passwords.secret }}
