! Spanning-tree mode and global configuration
!
spanning-tree mode rapid-pvst
spanning-tree portfast bpduguard default
spanning-tree extend system-id
spanning-tree pathcost method long
!
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause link-flap
